/* Google Font @import URL */
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:wght@300&display=swap');

/* Convention setting margin, padding and border */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    color: #1a110e;
}

/* Logo and headings */
h1 {
    font-family: 'Alkalami', serif;
    font-weight: 800;
    color: #af9e42;
}

h2 {
    font-family: 'Alkalami', serif;
    font-weight: 400;
    color: #af9e42;
}

h3 {
    font-family: 'Alkalami', serif;
    color: #6a3929;
    text-align: left;
    margin: 15px 10px 5px;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
    margin-top: 60px;
}

/* Navigation bar */
#nav {
    font-size: 100%;
    float: right;
}

#nav, #logo {
    line-height: 50px;
}

#nav li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    color: #6a3929;
}

#nav a:hover {
    border-bottom: 2px solid #6a3929;
    font-weight: bold;
}

.active {
    border-bottom: 2px solid #6a3929;
    font-weight: bold;
}

/* Home page */
/* Landing image */
#container {
    margin: 15px 10px 5px;
}

#landing-image > picture > img {
    width: 100%;
    height: 100%;
    display: block;
}

/* About us section */
#about-us {
    text-align: center;
    max-width: 100%;
    display: block;
    background-color: rgba(190,131,116,0.5);
    padding: 8px 4px;
}

/* fun facts aside */
#fun-facts {
    border: #af9e42 solid 2.5px;
}

#fun-facts > aside > ul > li {
    margin: 15px 10px 5px;
    list-style: none;
}

/* Media query to show landing-image2 and about us section on a tablet screen size or larger*/
@media screen and (min-width:640px) {
    .split {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        clear: both;
        object-fit: fill;
    }

    #about-us {
        text-align: center;
        width: 100%;
        height: auto;
        background-color: rgba(190,131,116,0.5);
        font-size: 150%;
    }
}

/* Media query to hide fun facts aside unless screen size is larger than 900px */
@media screen and (max-width:900px) {
    #fun-facts {
        display: none;
    }
}

/* Guide page */
/* Morning and night routine */
#routine {
    clear: both;
    position: relative;
    margin: 15px 10px 5px;
    background-color: rgba(190,131,116,0.25);
}

#routine > h2 {
    text-align: center;
}

#routine > h3 {
    text-align: center;
}

#routine > div > ol > li {
    list-style: none;
    margin: 2px;
}

#left-night, #right-morning {
    display: block;
    margin: 15px 10px 5px;
    padding: 8px 4px 2px;
    border: outset;
    background-color: white;
}

/* Other factors section*/
#other-factors {
    margin: 15px 10px 5px;
    padding: 8px 4px;
    clear: both;
    position: relative;
}

#other-factors > div {
    background-color: rgba(190,131,116,0.25);
    width: 100%;
    height: 150px;
    display: block;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#other-factors > div > h3 {
    text-align: center;
}

#other-factors > div > i {
    font-size: 300%;
    color: #6a3929;
}

/* Media query for diplaying the routine on screan sizes larger than 680px*/
@media screen and (min-width:680px) {
    #left-night, #right-morning {
        width: 45%;
        float: left;
        margin: 15px 10px 5px;
        padding: 8px 4px 2px;
        border: outset;
    } 
}

/* Media query for diplaying the other factors section on screan sizes larger than 540px*/
@media screen and (min-width:540px) {
    #other-factors > div {
        background-color: rgba(190,131,116,0.25);
        width: 25%;
        height: 200px;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        border: 2px solid white;
        box-sizing: border-box;
    }
}

/* Form section */
.form {
    clear: left;
    background: url(../images/image3.jpg);
    background-color: rgba(190,131,116,0.5);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup {
    margin: 150px 10% 0 0;
    color: #1a110e;
    background-color: rgba(26,17,14,0.15);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 30px;
    font-size: 120%;
}

.signup h1 {
    margin-bottom: 20px;
}

.signup > label {
    font-weight: 400;
}

legend p {
    margin-bottom: 20px;
}

.text-input {
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #6a3929;
    border-radius: 2px;
    font-size: 100%;
}

.text-input:hover {
    border-color: #1a110e;
}

.join {
    margin: 20px 0 20px 0;
    border-radius: 2px;
    padding: 20px 30px 20px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #af9e42;
    color: #6a3929;
    display: block;
}

.join:hover {
    background-color: #6a3929;
    color: #af9e42;
}

/* Thankyou page */
#message {
    text-align: center;
    position: relative;
    clear: both;
}

#message > h3 {
    text-align: center;
}

#message > p {
    font-weight: 400;
    padding-bottom: 30px;
}

#return-home {
    margin: 20px 0 20px 0;
    border-radius: 2px;
    padding: 20px 30px 20px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #af9e42;
    color: #6a3929;
    text-align: center;
}

#return-home:hover {
    background-color: #6a3929;
    color: #af9e42;
}

/* Footer section */
footer {
    height: 150px;
    background-color: rgba(172, 175, 174,0.5);
    position: relative;
    clear: both;
}

.social-media {
   text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #6a3929;
}

.social-media > i:hover {
    transform: scaleX(2);
    transform: scaleY(1.5);
}

.social-media > i {
    width: 100%;
    height: auto;
    text-align: center;
}
