/* Google Font @import URL */
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:wght@300&display=swap');

/* Body */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #1a110e;
}

/* Logo and headings */

h1, h2 {
    font-family: 'Alkalami', serif;
    font-weight: 800;
    color: #af9e42;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
}

/* Navigation bar */
#nav {
    font-size: 100%;
    float: right;
}

#nav, #logo {
    line-height: 50px;
}

#nav li {
    float: left;
    list-style: none;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    color: #6a3929;
}

#nav a:hover {
    border-bottom: 2px solid #6a3929;
    font-weight: bold;
}

.active {
    border-bottom: 2px solid #6a3929;
    font-weight: bold;
}

/* Landing image section */
#landing-image > img {
    width: 100%;
    height: auto;
}

@media screen and (min-width:320px) {
    #landing-image {
        max-width: 100%;
        display: block;
        position: relative;
        clear: both;
}
}

/* About Us section */
@media screen and (min-width:320px) {
    #about-us {
        text-align: center;
        max-width: 100%;
        display: block;
        position: relative;
        clear: both;
        background-color: rgba(190,131,116,0.5);
        padding: 0.5em 0.25em;
    }
}

@media screen and (min-width:640px) and (max-width:1300px) {
    #about-us {font-size: 150%;
    }
}

/* Footer section */

footer {
    height: 150px;
}

.social-media {
   text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    padding: 7.5%;
    color: #6a3929;
}

.social-media > i {
    width: 100%;
    height: auto;
}
